html,body
{
  height:100%;
}

body
{
  background:#F5F5F5;
  color:#353c52;
  font: 13px;
  font-family: 'Helvetica', sans-serif;
}

li a
{
  text-decoration: none;
  color: #b2ddfb;
}

li a:hover
{
  color: #FFF;
  font-weight: black;
  padding: 10px 0;
  border-bottom: 5px solid #353c52;
}

li a:active
{
  color: #FFF;
  font-weight: black;
}

.nav {
  background-color: #3fa9f5;
  font-size: 9px;
  margin-bottom: 20px;
  position: fixed;
  height: 45px;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid white;
}

.nav li
{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  display: inline-block;
  list-style: none;
}

.mail
{
  width: 34px;
}

.page
{
  text-align: justify;
  font-weight: normal;
  width: 70%;
  height: auto;
  min-height: 25%;
  background: white;
  margin-top: 15%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
}

.logo
{
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 50%;
  border-radius: 50%;
  margin-top: -80px;
}

.title
{
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: #353c52;
  background: #3fa9f5;
  text-transform: uppercase;
}

.title2
{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 19px;
  color: #FFF;
  background: #353c52;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.page-content
{
  padding: 10%;
  line-height: 25px;
}


.progress
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 15px;
  padding: 3px;
  background:#353c52;
  margin-bottom: 15px;
}

.pourcent-ps
{
  overflow: hidden;
  float: left;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 15px;
  background:#3fa9f5;
}

.pourcent-ai
{
  overflow: hidden;
  float: left;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 15px;
  background:#f5883f;
}


.pourcent-ae
{
  overflow: hidden;
  float: left;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 15px;
  background:#9767a9;
}


.pourcent-html
{
  overflow: hidden;
  float: left;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 15px;
  background:#fbe167;
}

.icons
{
  display: inline-block;
  margin: 20px;
}
